/BigDataSpark/Exercises
/data
/BigDataSpark/Big+Data+with+Apache+Spark+3+and+Python+From+Zero+to+Expert.pdf
/BigDataSpark/3_Advanced_Features/spark-warehouse/hive_dept
/BigDataSpark/3_Advanced_Features/spark-warehouse/hive_emp