/BigDataSpark/Exercises
/data
/BigDataSpark/Big+Data+with+Apache+Spark+3+and+Python+From+Zero+to+Expert.pdf
/BigDataSpark/3_Advanced_Features/spark-warehouse/hive_dept
/BigDataSpark/3_Advanced_Features/spark-warehouse/hive_emp
/BigDataSpark/4_SparkStreaming/data/fraud
/Spark_Lakehouse/data/invoices
/Spark_Lakehouse/data/text
/Spark_Lakehouse/spark-warehouse/invoices_bz
/Spark_Lakehouse/spark-warehouse/invoice_line_items
/Spark_Lakehouse/spark-warehouse/customer_rewards
/SparkScripts/book_data/numbers.txt
/AWS_Spark_Unstructured/.idea/
.idea/
/AWS_Spark_Unstructured/__pycache__/
/AWS_Spark_Unstructured/config/__pycache__/
/AWS_Spark_Unstructured/test
/AWS_Spark_Unstructured/input/
/AWS_Spark_Unstructured/.venv/
/AWS_Spark_Unstructured/config/config.json
